@{
    ViewData["Title"] = "New Dish";
}

@model Dish

<div class="text-center">
    <h1 class="display-4">Add a new Dish!</h1>
    <p><a asp-action="Index" asp-controller="Home">Home</a> | <a asp-action="NewDish" asp-controller="home">Add a Dish</a></p>
    <form asp-action="CreateDish" asp-controller="Home">
        <div class="d-flex justify-content-evenly" >
            <div>
                <div class="mb-3">
                    <label asp-for="Chef">Chef's Name</label>
                    <input asp-for="Chef" class="form-control">
                    <span class="text-danger" asp-validation-for="Chef"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name">Name of Dish</label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Calories"># of Calories</label>
                    <input asp-for="Calories" class="form-control">
                    <span class="text-danger" asp-validation-for="Calories"></span>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label asp-for="Tastiness"></label>
                    <select asp-for="Tastiness" class="form-select">
                        <option selected disabled hidden></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="Tastiness" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <button class="btn btn-success">Add Dish</button>
        </div>
    </form>
</div>
